* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
	list-style-type: none;
}

::placeholder {
	text-align: center;
}

button:disabled {
	opacity: 25%;
	cursor: not-allowed;
}

button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid black;
	border-radius: 10px;
	background-color: transparent;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding-top: 20px;
}

.task-form {
	display: flex;
	border: 1px solid black;
	border-radius: 20px;
	padding: 10px;
	width: 1200px;
	min-width: 360px;
}

.task-form .main-container {
	display: flex;
	gap: 40px;
	justify-content: left;
	padding-left: 20px;
	width: 75%;
	height: 50px;
}

.task-form .task-input {
	border: 2px solid black;
	width: 325px;
	text-indent: 10px;
	border-radius: 10px;
}

.task-form .date-input {
	width: 150px;
	justify-content: center;
	text-align: center;
	padding-right: 10px;
	border-radius: 10px;
}

.task-form .clear-all-tasks {
	width: 100px;
}

.confirmation-buttons {
	display: flex;
	gap: 10px;
}

.task-form .clear-all-tasks img {
	height: 40px;
	width: 40px;
}

.task-form button {
	height: 50px;
	width: 50px;
}

.task-form img {
	height: 40px;
	width: 40px;
}

.task-form .secundary-container {
	display: flex;
	justify-content: flex-end;
	gap: 25px;
	padding-right: 25px;
	width: 25%;
}

.tasks-container {
	padding: 20px;
	border-radius: 20px;
	width: 1100px;
	height: 525px;
	background-color: rgba(128, 128, 128, 0.2);
}

.tasks-container ul {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.task-card {
	text-align: center;
	border: 1px solid black;
	border-radius: 20px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 35px;
	width: 1070px;
}

.task-card .task {
	width: 575px;
}

.task-card .date {
	width: 75px;
}

.task-card .buttons {
	width: 350px;
	display: flex;
	justify-content: space-around;
}

.task-card .buttons button {
	height: 40px;
	width: 40px;
}

.task-card .buttons .group-one, .task-card .buttons .group-two{
	display: flex;
	gap: 10px;
}

.task-card .group-one img, .buttons .group-two img {
	height: 30px;
	width: 30px;
}

footer {
	width: 100%;
	text-align: center;
}

/* @media screen and (max-width: 1000px) and (min-width: 360px)
{
}

@media screen and (max-width: 360px)
{
} */